.App {
  margin-top: 15px; 
}

.App .navbar-brand {
  font-weight: bold; 
}


#detail {
    width: 90%;
    height: 95%;
    min-height: 90%;
    background: red;
    display: block;
 
}



.fill { 
    min-height: 100%;
    height: 100%;
}